body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
  }
  
  .calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 400px;
    background-color: #b7b1b1;
    border: 1px solid #685e5e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #display {
    grid-row: 1 / 2;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .buttons {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 20px;
    border: none;
    background-color: #032953;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, transform 0.2s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }
  